<ul>
  <div class="filters">
    <label>
    Buscar:
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por título o descripción">
  </label>
    <h2>Filtro de Tareas</h2>
  <label>
    Estado:
    <select [(ngModel)]="filterStatus">
      <option value="">Todos</option>
      <option value="Pendiente">Pendiente</option>
      <option value="En progreso">En progreso</option>
      <option value="Completada">Completada</option>
      <option value="Vencida">Vencida</option>
    </select>
  </label>

  <label>
    Prioridad:
    <select [(ngModel)]="filterPriority">
      <option value="">Todas</option>
      <option value="Alta">Alta</option>
      <option value="Media">Media</option>
      <option value="Baja">Baja</option>
    </select>
  </label>
  <button (click)="clearFilters()">Limpiar filtros</button>
</div>


<br><h2>Lista de Tareas</h2>
  <li *ngFor="let task of filteredTasks">
    <strong>{{ task.title }}</strong><br>
    <p>{{ task.description }}</p>

    <p>
      <strong>Prioridad:</strong>
      <span [ngStyle]="{
        color: task.priority === 'Alta' ? 'red' :
               task.priority === 'Media' ? 'orange' :
               'green'
      }">
        {{ task.priority }}
      </span>
    </p>

    <p>
      <strong>Estado:</strong>
      <span [ngStyle]="{
        color: task.status === 'Completada' ? 'green' :
               task.status === 'En progreso' ? 'blue' :
               'gray'
      }">
        {{ task.status }}
      </span>
    </p>
    
    <p><strong>Creada:</strong> {{ task.createdAt | date: 'dd-MM-yyyy' }}</p>
    <p><strong>Vence:</strong> {{ task.dueDate | date: 'dd-MM-yyyy' }}</p>
    <p><strong>Tiempo restante:</strong> {{ getTimeRemaining(task.dueDate) }}</p>

    <button (click)="onEdit(task)">Editar</button>
    <button (click)="onDelete(task.id)">Eliminar</button>
    <button *ngIf="task.status !== 'Completada'" (click)="markAsCompleted(task)">Marcar como Completada</button>
    <button *ngIf="task.status !== 'Pendiente'" (click)="markAsPending(task)">Marcar como Pendiente</button>
    <hr>
  </li>
</ul>
